{%extends 'recordLead/base.html'%}
{% block content%}
<div class="container centered-form">
    <div class="row justify-content-center">
        <h4 class="text-center alert alert-info">Add Leads Data</h4>
        <div class="col-sm-6">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-success btn-block" value="Add">
            </form>
        </div>
    </div>
</div>
{% endblock content%}
