<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leads Record</title>
    <link rel="stylesheet" href="{% static  'recordLead/css/bootstrap.css'%}">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center alert alert-success">Lead Records</h2>
        {% block content%} {% endblock content%}
    </div>
    <script src="{% static 'recordLead/js/jquery.js'%}"></script>
    <script src="{% static 'recordLead/js/popper.js'%}"></script>
    <script src="{% static 'recordLead/js/bootstrap.js'%}"></script>

</body>
</html>