{% extends 'recordLead/base.html' %}
{% block content %}
<style>
    .card-body {
        padding: 15px;
    }
    .btn-custom-width {
        width: 140px; /* Set the width you prefer */
    }
</style>
<div class="container centered-form">
    <div class="row justify-content-center">
         <h4 class="text-center alert alert-success">Lead Records</h4>
        <div class="col-sm-10">
            {% if leads %}
                <div class="row">
                    {% for lead in leads %}
                    <div class="col-md-4 mb-3">
                        <div class="card {% cycle 'custom-light-1' 'custom-light-2' 'custom-light-3' %}">
                            <div class="card-body">
                                <h5 class="card-title">ID: {{ lead.id }}</h5>
                                <p class="card-text">
                                    <strong>Customer Name:</strong> {{ lead.customer_name }}<br>
                                    <strong>Property Type:</strong> {{ lead.property_type }}<br>
                                    <strong>Property Area:</strong> {{ lead.property_area }}<br>
                                    <strong>Property Price:</strong> ${{ lead.property_price }}<br>
                                    <strong>Schedule:</strong> {{ lead.schedule }}
                                    <strong>Payment:</strong> {{ lead.payment_status }}
                                </p>
                            </div>
                        </div>
                        <a href="{% url 'updateLead' lead.id %}" class="btn btn-warning btn-sm btn-custom-width">Edit</a>
                        <form action="{% url 'deleteLead' lead.id %}" method="POST" class="d-inline">
                            {% csrf_token %}
                            <input type="submit" value="Delete" class="btn btn-danger btn-custom-width btn-sm">
                        </form>
                        
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <h4 class="text-center alert alert-warning">No Records</h4>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
