{%extends 'recordLead/base.html'%}
{% block content%}
<div class="container centered-form">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <h4 class="text-center alert alert-info">Update Leads Data</h4>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-success btn-block" value="Update">
                <a href="{% url 'showLead'%}" class="btn btn-info">Back To Home</a>
            </form>
        </div>
    </div>
</div>
{% endblock content%}
